<%=form_for @bonethug do |f| %>
<div>
  <%=f.label :imagelink %>
  <%=f.text_field :imagelink, :placeholder => "enter imagelink" %>
</div>
<div>
  <%=f.label :thugname %>
  <%=f.text_field :thugname, :placeholder => "enter thugname" %>
</div>
<div>
  <%=f.label :bio %>
  <%=f.text_field :bio, :placeholder => "enter bio" %>
</div>
<div>
  <%=f.submit %>
</div>

<% end %>

